<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>


    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping class="com.tomasz.pojo.dao.TUserEngine"/>
        <mapping class="com.tomasz.pojo.dao.TClassEngine"/>
        <mapping class="com.tomasz.pojo.dao.TUserMarksEngine"/>
        <mapping class="com.tomasz.pojo.dao.TUserSubjectEngine"/>
        <mapping class="com.tomasz.pojo.dao.TMarkEngine"/>
        <mapping class="com.tomasz.pojo.dao.TSubjectEngine"/>
        <mapping class="com.tomasz.pojo.dao.TUserClassEngine"/>

    </session-factory>


</hibernate-configuration>
